---
layout: page
title: "About me"
description: "."
header-img: "img/post-bg-map.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>不积跬步无以至千里<br>
    不读源码不足以精通</p></blockquote>

    <p>Hi，我是奥特虾，一个练习时长一年半的云计算工程师，目前在上海。</p>

    <p>工作学习之余喜欢打守望先锋，看特摄剧（奥特曼系列、假面骑士系列）。</p>

    <h3>有趣的灵魂怎么能只会写代码？</h3>

<ul>
    <li style="margin-bottom: 12px;">2014年，高中的叛逆期，为了证明学习成绩不好只是因为我对高中课程没有兴趣而不是智力问题，晚自习期间折腾出一个专利（虽然现在看来有点水）。</li>

    <li style="margin-bottom: 12px;">2016年10月第一次去杭州参加了阿里云的云栖大会，那简直太酷了，可能就是那时候，我开始对云计算产生了兴趣。</li>

    <li style="margin-bottom: 12px;">2018年10月，参加了 Coding Girls Club 发起的为促进性别平等而举办的公益编程活动，以编程教练的身份在北京大学授课，北大的小姐姐们学习能力真的很强。</li>

    <li style="margin-bottom: 12px;">2019年4月，参加了志愿者公益活动，主题是STEM教育，陪同北京农民工子女学校的孩子们一起参观北京地震博物馆，并学习相关知识。</li>

    <li style="margin-bottom: 12px;">2020年2月，COVID-2019疫情期间，加入了开源组织“疫情地图项目组”，和分布在世界各地的学者、研究生、工程师们一起协作开发了疫情地图，从时间和空间维度展示疫情的传播情况，这是国内最早出现的疫情可视化项目之一。</li>

    <li style="margin-bottom: 12px;">除此之外，还在努力学习日语、烹饪、健身。</li>

<ul>
    

</div>

</div>

<p>如果你有相同的爱好，欢迎微博私信骚扰。</p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

